.player-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-items: center;

}

.player-container div{
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    margin: 5px;
    width: 100px;
    height: 70px;
    
}
.player-container div p{
    text-align: center;
}